<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Telerik.Windows.Controls.for.Wpf.Trial" version="2021.2.615" targetFramework="net40" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf.Trial" version="2021.2.615" targetFramework="net40" />
  <package id="Telerik.Windows.Data.for.Wpf.Trial" version="2021.2.615" targetFramework="net40" />
</packages>